package link

templ Create() {
    <form hx-post="/link">
        <input name="target" type="url"/>
        <input name="code" type="text"/>
        <button type="submit">Submit</button>
    </form>
}
