package home

import "golink/frontend/layout"
import "golink/frontend/components/link"

templ Home(baseUrl string) {
	@layout.Base() {
	    <div class="limited-width">
            <h1>Shorten URL</h1>
            @link.Create(baseUrl)
	    </div>
	}
}
