package layout

templ Base() {
  <html>
    <head>
      <title>Golink</title>
      <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    </head>
    <body>
      { children... }
    </body>
  </html>
}
